body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    background-color: rgb(0, 5, 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

html{
    animation: fadeIn 1.5s ease-in-out forwards;
    width: 100vw;
}

.bold-text {
    font-weight: bold;
    margin: 1em !important;
}

button {
    padding: 0.6em 0.6em;
    font-size: 1em;
    cursor: pointer;
    background-color: #4f0341;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 1em;
}

button:hover {
    background-color: #4f0341;
    color: white;
    border-radius: 0;
}

button:active {
    background-color: #4CAF50;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes glisse {
    from {
        left: -15em;
    }
    to {
        left: 0;
    }
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
}

.center {
    margin-top: 1em;
    margin-bottom: auto; 
}
.up, .center, .down {
    text-align: center;
    width: 100%;
}

.down{
    background-color: whitesmoke;
    
}

.down > p {
    font-size: 0.8em;
    color: black;
}

.language{
    margin-top: 1em;
    margin-bottom: 1em;
    color: #4f0341;
}

.language select{
    border-radius: 1em;
    font-family: 0.5em;
    border-color: white;
    

}

.language select:hover{
    border-radius: 1em;
    font-family: 0.5em;
    border-color: #4f0341;

}

.logo >img{
    margin: 2em 1em 2em 1em;
    background-color: whitesmoke;
    border-radius: 1rem;
    width: 100%;
}

.logo{
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-radius: 1em;
}

@media screen and (max-width: 900px) {

    body{
        justify-content: center;
    }

    .up{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }

    .logo >img{
        margin: 1em 0 2em 0;
        background-color: whitesmoke;
        border-radius: 1rem;
        width: 100%;
    }

    .logo{margin: 0}


    .down > p {
        font-size: 0.5em;
        color: black;
    }

    .language{
        font-size: 0.5em;
    }
}


/*---------------------------------------------- PRESENTATION ----------------------------------------------------------------------*/

.presentation-container > h2,h3 {
    background-color: #4f0341;
    border-radius: 1.5em;
    padding: 0.5em;
    margin-right: 1em;
    font-size: 2.5em;
    letter-spacing: 0.08em;
    font-weight: 100;
    margin-left: 1em;
    color: whitesmoke;
    text-align: left; 
}

.presentation-container > h3 {
    font-size: 2em;
}

.presentation-container > h4 {
    border-radius: 1.5em;
    padding: 0.5em;
    margin-right: 1em;
    font-size: 2em;
    letter-spacing: 0.08em;
    font-weight: 100;
    margin-left: 1em;
    color: whitesmoke;
    text-align: left; 
}

.presentation-container > img {
    height: 3em;
    width: auto;
    margin-right: 1em;
}

.presentation-container > p {
    margin-left: 5em;
    margin-right: 5em;
    text-align: justify; 
    line-height: 3;
}

p {
    font-size: 0.8em;
    color: white;
}

@media screen and (max-width: 900px) {
    .contact-text{
        display:flex;
        flex-direction: column;
    }

    .presentation-container > h2 {
        padding: 0.7em;
        font-size: 1.5em;
    }

    .presentation-container > h3 {
        padding: 0.7em;
        font-size: 1.1em;
    }

    .presentation-container > h4 {
        padding: 0.7em;
        font-size: 0.8em;
        background-color: #4f0341;
        border-radius: 1.5em;
    }

    .presentation-container > img {
        height: 1.5em;
        width: auto;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    p {
        font-size: 0.5em;
        color: white;
    }

    .team-info-container > h2 {
        font-size: 0.5em;
    }

}

/*------------------------------------------------------------- MENU ------------------------------------------------------------------*/

.menu{
    background: whitesmoke;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 4em;
}

.menu >img {
    height: 5em;
}

.menu > button {
    position: relative;
    overflow: hidden;
    color: #18181a;
    cursor: pointer;
    background: whitesmoke;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 5em;
    border-radius: 0;
  }
  
  .menu > button span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }
  
  .menu > button span:last-child {
    color: whitesmoke;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
  }
  
  .menu > button:hover {
      background-color: whitesmoke;
      color: black;
  }
  .menu > button:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 5em;
    background-color: #4f0341;
    color: whitesmoke;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }
  
  .menu > button:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
  }
  
  .menu > button:hover span:last-child {
    transform: translateX(-50%) translateY(-25%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

@media screen and (max-width: 900px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1em;
        text-align: center;
        width: 100%;
        padding-bottom: 0.5em;
    }

    .menu > button {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        margin-left: 0;
    }
}

/*-------------------------------------- TABLEAU ---------------------------------------------------*/


#sortDropdown {
    font-size: 14px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

#sortDropdown option {
    background-color: #fff;
    color: #333;
}

#sortDropdown option:hover {
    background-color: #f0f0f0;
}

#sortDropdown:active {
    background-color: lightblue;
    color: white;
}


hr{
    width: 5em;
}


/*----------------------------------------- NOTRE EQUIPE ------------------------------------------------------*/

.membres-team-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 2em;
    margin-right: 2em;
  }

  .team-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .team-info-container > h2 {
    font-size: 2.5em;
    letter-spacing: 0.08em;
    font-weight: 100;
    color: whitesmoke;
    text-align: left; 
}

  .team-info {
    display: flex;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 3em;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: #4f0341;
    padding : 1em;
    border-radius: 1em;
    min-width: 25%;
    width: 30%;
  }

  .team-info:nth-child(even) {
    background-color: rgb(0, 5, 50); /* Couleur de fond pour les éléments pairs */
  }

  .team-info > a {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .team-info img {
    width: 6em;
    height: 6em; 
    border-radius: 50%;
    margin-top: 1em;
    margin-bottom: 0.5em;
    box-shadow: 0 0 0 0.5em #4f0341, 0 0 0 0.6em whitesmoke;
  }
  .team-info:nth-child(even) img {
    box-shadow: 0 0 0 0.5em rgb(0, 5, 50), 0 0 0 0.6em whitesmoke;
  }

  .team-info-text {
    margin: 0 1em 1em 1em;
    color: white;
    width: 100%;
  }

  .fa {
    margin: 0 5px;
  }

  .networks i {
    font-size: 2em;
    color:whitesmoke;
}

@media screen and (max-width: 900px) {
    .membres-team-info {
        margin: 0;
        align-items: center;
        width: 100%;
    }

    .team-info{
        width: 40%;
        padding: 0.5em;
    }

    .team-info-container > h2 {
        font-size: 1.5em;
    }
    .team-info-text > h4 {
        font-size: 0.7em;
    }

    .team-info img {
        width: 3em;
        height: 3em; 
        box-shadow: 0 0 0 0.3em #4f0341, 0 0 0 0.4em whitesmoke;
      }
    
    .team-info:nth-child(even) img {
        box-shadow: 0 0 0 0.3em rgb(0, 5, 50), 0 0 0 0.4em whitesmoke;
    }

    .networks i {
        font-size: 1em;
    }

}

/*-------------------------------------- TABLEAU --------------------------------------------------*/


.tableContainer{
    top :0;
    margin : 3em 2em 1em 2em;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color:whitesmoke;
    animation: fadeIn 1s ease-out forwards;
}

.tableau-container > label{
    color: whitesmoke;
}

.vulnerabilityTable {
    padding: 1em;
    width: 100%;
    height: 100%;
    overflow-x: auto; 
    overflow-y: visible;
}

table {
    
    border-collapse: collapse;
    
    
}

table, td {
    width: auto;
    border-radius: 3px;
    padding: 25px 30px;
    height: 1em;
    top:0;
    border-collapse: collapse;
}

td {
    padding: 1em;
}

tr{
    color:black;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    background-color: #ffffff;
    flex-basis: 10%;
    font-size: 0.7em;
}

tr:nth-child(even){background-color: #f2f2f2}

tr:hover {background-color: #4f0341;color: whitesmoke;}

tr:first-child {
    background-color: rgb(0, 5, 50);
    font-size: 1em;
    color: white;
}

input{
    padding: 1em; border: 2px solid #ccc; border-radius: 1em; width: 15em; height: 0.4em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5em;
    margin: 2em 2em 2em 2em;
    background-color: #4f0341;
    padding: 1em;
    border-radius: 1em;
    transition: background-color 0.5s ease;
}

.info:hover{
    background-color: #4CAF50;
}

.info i {
    font-size: 3em;
    color: white;
}
.info > i {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.info p {
    color: white;
    margin: 0;
}


/*---------------------------------------- NOUS CONTACTER -----------------------------------------------------------*/

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-container > h2 {
    font-size: 2em;
    font-style: italic;
    color: whitesmoke;
}

.contact-text{
    display: flex;
}

@media screen and (max-width: 900px) {
    .contact-container{
        margin: 0;
    }
    .contact-container > h2 {
        font-size: 1em;
        margin-left: 2em;
        margin-right: 2em;
    }
    .contact-text{
        display: flex;
        flex-wrap:wrap;
        flex-direction: row;
        align-items: center;
    }

    .info {
        margin:0.5em 0.5em 0.5em 0.5em;
        padding: 0.6em;
        gap: 0.1em;
    }
    .info i {
        font-size: 2em;
    }
}


.menu3 {
    position: relative;
    bottom: 0;
    width: 15em; 
    height: auto;
    background-color: rgb(0, 5, 50);
    border-radius: 1em;
    animation: glisse 1s ease-out forwards;
}



.menu3 ul {
    list-style: none;
    padding: 1em;
    overflow: visible;
    width: 12em; 
}

.menu3 ul li {
    margin-bottom: 0.5em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #4f0341;
}

.menu3 ul li a {
    display: block;
    color: white; 
    text-decoration: none;
    padding: 1em;
}

.menu3 ul li a:hover {
    background-color: #4CAF50;
    cursor: text;
    border-radius: 1em;
}
.submenu3 {
    display: none;
    position: absolute;
    top: 0;
    left: 12em;
    background-color: rgb(0, 5, 50);
    border-radius: 1em;
    z-index: 9999;
    animation: fadeIn 0.4s ease-out forwards;
}

.submenu3 > .menu3 ul {
    background-color: red;
}


.submenu3 li {
    padding: 1em;
    color: white;
}

.menu3 li {
    position: relative;
}

.menu3 li:hover .submenu3 {
    display: block;
}

.submenu3 li:hover {
    background-color: #4CAF50; 
    cursor: pointer;
}