body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.up,.center {
    margin-top: 3em;
    margin-bottom: auto; 
}
.up, .center, .down {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
}

#refreshButton {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#refreshButton:hover {
    background-color: #2980b9;
}

/*---------------------------------------------------*/

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

table, td {
    border: 1px solid #333;
}

td {
    padding: 1em;
}

tr:first-child {
    background-color: darkblue; 
    color: white; 
}

.low-risk {
    background-color: lightgreen;
}

.medium-risk {
    background-color: lightyellow;
}

.high-risk {
    background-color: lightcoral;
}

.header-row {
    margin-top: 1em;
}